* * {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-spacing: 0px;
    padding: 0px;
    border-collapse: collapse;
    table-layout: fixed;

}

caption {
    font-size: 50px;
    font-family: "Yesteryear", cursive;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 5px #6b6b6b34;
    margin-top: 50px;
    margin-bottom: 50px;
}

tr {
    height: 70px;
}

td {
    border: 16px solid #131313;
    background-color: rgb(236, 233, 226);
    width: 6.25%;
}

col {
    width: 6.25%;
}

.container {
    width: min(100% - 60px, 1280px);
    margin-inline: auto;
}

.content {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

.yellow {
    background-color: gold;
}

.red {
    background-color: red;
}

.black {
    background-color: #131313;
}

.blue {
    background-color: darkblue;
}

.coral {
    background-color: coral;
}