$color-bg: #EEEFF1;
$color-primary: #34547A;
$color-white: #ffffff;
$color-black: #000000;
$color-nav-link: #cdcdcd;
$color-text: #727272;
 
$content-width-default: 1110px;
$content-width-wide: 960px;
$content-width-tablet: 720px;
$content-width-mobile: 100%;